<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <meta name="renderer" content="webkit">
  <title>vue  实验</title>
  <meta name="description" content="首页描述"/>
  <meta name="keywords" content="首页关键词"/>
  <meta name="author" content="Web Layout:amu"/>
  <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no"/>
  <link rel="stylesheet" href="./src/style/base.css?v=1">
  <style>
    #app{overflow:auto}
    ol{
      margin:0;
      padding:0;
      display:flex;
      height:300px;
      overflow-x:auto;
      width:880px;
    }
    ol li{height:100%;}
    ol li .img-layer{
      height:100%;
      position:relative;
    }
    .device-list{
      position:absolute;
      left:0;
      top:0;
    }
    .device-list i{
      position:absolute;font-weight:bold;font-style:normal;font-size:20px;color:red
    }
    ol li .img-layer img{
      height:100%;
    }
    .track-layer{
      width: 656px;
      height: 283px;
      transform-origin: left top;
      position: absolute;
      z-index: 99;
    }
    
  </style>
 </head>
<body class="paper">
  <div id="app">
    <h2>Todos:</h2>
    <button @click="pathRun">播放</button>
    <div class="map">
      <div class="track-layer"  style="transform: scale(0.725641);">
        <svg ref="svgPath" width="100%" height="100%" viewBox="0 0 656 283" preserveAspectRatio="xMidYMid meet"></svg>
      </div>
      <ol>
        <li v-for="item in newData">
          <div class="img-layer">
            <img :src="item.url" alt="">
            
            <div v-if="item.devices && item.devices.length > 0" class="device-list" :style='"transform: scale("+item.scale+")"'>
              <i v-for="d in item.devices" :style="d.deviceItem" :key="d.index">★</i>
              
            </div>
            
          </div>
        </li>
      </ol>
      <svg id="svgB" width="100%" height="100%" viewBox="0 0 620 120" preserveAspectRatio="xMidYMid meet">
        <!-- <path class="ad-Path" d="M 13 12 L 59 83 L 142 47 L 340 70 " stroke="#999" stroke-width="2px" /> -->
      </svg>
      <button onclick="run2()">播放</button>
    </div>
    
  </div>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
  <script src="./lib/snap.svg.js"></script>
  <script>
    // import "snapsvg-cjs";
    new Vue({
      el: "#app",
      data() {
        return{
          imgList: [
            { 
              text: "Build something awesome", 
              url: './assets/images/20180130093710127.jpg',
              width:907,
              height:390,
              devices:[
                {
                  deviceId: 1,
                  deviceName: "mock设备0",
                  points:[200, 93],
                },
                {
                  deviceId: 12,
                  deviceName: "mock设备1",
                  points:[408, 59],
                },
                {
                  deviceId: 16,
                  deviceName: "mock设备2",
                  points:[652, 207],
                },
                {
                  deviceId: 18,
                  deviceName: "mock设备3",
                  points:[812, 143],
                }
              ]
            },
            { 
              text: "Learn JavaScript", 
              url:'http://yccdn.itzjj.cn/uploads/userfiles/1/images/pageimg/20191204/1-1912041021323.jpg',
              width:700,
              height:464
            },
            { 
              text: "Learn Vue", 
              url: 'http://yccdn.itzjj.cn/uploads/userfiles/1/images/pageimg/20191204/1-1912041030104.jpg',
              width:600,
              height:706
            },
            { 
              text: "Play around in JSFiddle", 
              url: 'http://yccdn.itzjj.cn/uploads/userfiles/1/images/pageimg/20191204/1-1912041030403.jpg',
              width:600,
              height:450
            }
          ],
          newData:[],
          trackData:[],
          CircleB:'',
          pathLine:''
        }
        
      },
      watch:{
        imgList:{
          handler:function(val,oldval){
            console.log(val,oldval)
          },
          deep:true//对象内部的属性监听，也叫深度监听
        }
      },
      computed:{
        
      },
      mounted(){
        
        this.$nextTick(()=>{
          
        })
        
        this.dataUpdate()
    
        
      },
      methods: {
        
        dataUpdate(){
          let self = this;
          this.trackData = []
          this.imgList.map((item)=>{
            //console.log(item)
            item.scale = 283 / item.height
            if(item.devices && item.devices.length >0 ){
              item.devices.map((d)=>{
                //console.log(d)item.devices
                d.deviceItem = "left:"+d.points[0]+"px;top:"+d.points[1]+"px";
                //console.log(d.deviceItem)
                this.trackData.push(d.points)
              })
            }
          })
          if(this.trackData && this.trackData.length >0){
            this.pathData(this.trackData)
          }
          //console.log(this.trackData)
          setTimeout(()=>{
            self.newData = this.imgList;
            self.pathInit()
          },100)
        },
        pathData(points){
          //console.log(...points)
          let pathStr = ""
          let subPath = ''
          //console.log(points)
          if(points && points.length >0){
            points.map((it,index)=>{
              if(index === 0){
                subPath = "M "+ it.join(' ')
              }else{
                subPath = " L "+it.join(' ')
              }
              pathStr = pathStr+subPath
            })
            console.log(pathStr)
            return pathStr
          }
         
        },
        run2Track(){

        },
        pathInit(){
          let svgEl = Snap(this.$refs.svgPath);
          //console.log(svgEl)
          this.pathLine = svgEl.path(this.pathData(this.trackData));
          this.pathLine.attr({
            id: "squiggle",
            fill: "none",
            strokeWidth: "4",
            stroke: "#666666",
            strokeMiterLimit: "10",
            //strokeDasharray: "9 9",
            strokeDashOffset: "988.01"
          })
          
          this.CircleB = snapB.circle(16,16,8);
          this.CircleB.attr({
            fill: "red",
            stroke: "#fff",
            strokeWidth: 2
          });
          console.log( this.pathLine.getPointAtLength(100))
         
        },
        pathRun(){
          let self = this;
          console.log( this.pathLine.getPointAtLength(100))
          let pathLength = this.pathLine.getTotalLength();
          console.log(this.pathLine)
          Snap.animate(0, pathLength, function( value ) {
            //console.log(value)
            movePoint = self.pathLine.getPointAtLength( value );
            self.CircleB.attr({ cx: movePoint.x, cy: movePoint.y }); // move along path via cx & cy attributes
            //planeC.attr({cx: movePoint.x, cy: movePoint.y})
            //triangleGroup.transform( 't' + parseInt(movePoint.x - 15) + ',' + parseInt( movePoint.y - 15) + 'r' + (movePoint.alpha - 90));
          }, 3000,mina.easeinout);
        },
        toggle: function(todo){
          todo.done = !todo.done
        }
      }
    })

    var snapB = Snap("#svgB");
    var myPathB = snapB.path("M 13 12 L 59 83 L 142 47 L 340 70")
    .attr({
      id: "squiggle",
      fill: "none",
      strokeWidth: "4",
      stroke: "#666666",
      strokeMiterLimit: "10",
      //strokeDasharray: "9 9",
      strokeDashOffset: "988.01"
    });
    var lenB = myPathB.getTotalLength();
    // var Triangle = snapB.polyline("0,30 15,0 30,30");
    // Triangle.attr({
    //   id: "plane",
    //   fill: "green"
    // });
    var CircleB = snapB.circle(16,16,8);
    CircleB.attr({
      fill: "red",
      stroke: "#fff",
      strokeWidth: 2
    });

    //var triangleGroup = snapB.g( Triangle ); // Group polyline
    function run2(){
      console.log(myPathB)
      Snap.animate(0, lenB, function( value ) {
        
        movePoint = myPathB.getPointAtLength( value );
        //console.log(movePoint)
        CircleB.attr({ cx: movePoint.x, cy: movePoint.y }); // move along path via cx & cy attributes
        //planeC.attr({cx: movePoint.x, cy: movePoint.y})
        //triangleGroup.transform( 't' + parseInt(movePoint.x - 15) + ',' + parseInt( movePoint.y - 15) + 'r' + (movePoint.alpha - 90));
      }, 3000,mina.easeinout);
    }
  </script>
</body>
</html>