/*androidstudio.css*/
.hljs{color:#a9b7c6;background:#282b2e;display:block;overflow-x:auto;padding:0.5em}.hljs-number,.hljs-literal,.hljs-symbol,.hljs-bullet{color:#6897BB}.hljs-keyword,.hljs-selector-tag,.hljs-deletion{color:#cc7832}.hljs-variable,.hljs-template-variable,.hljs-link{color:#629755}.hljs-comment,.hljs-quote{color:#808080}.hljs-meta{color:#bbb529}.hljs-string,.hljs-attribute,.hljs-addition{color:#6A8759}.hljs-section,.hljs-title,.hljs-type{color:#ffc66d}.hljs-name,.hljs-selector-id,.hljs-selector-class{color:#e8bf6a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
/*androidstudio.css*/
button{
  border: none;
  background: #fc0;
  padding: 7px 15px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}
pre{position: relative;margin: 0;padding: 0;background: #282b2e;
color: #fff;}
pre code{display: block;}
pre button{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.hljs ul {list-style: decimal;}
.hljs {
	border: 0;
	font-family: "Consulas", "Courier New", Courier, mono, serif;
	font-size: 14px;
	display: block;
  padding: 1px;
  line-height:1.6;
	margin: 0;
	width: 100%;
	white-space: pre-wrap
}
.hljs ul li {list-style: decimal-leading-zero;
  border-left: 1px solid #222 !important;}
.hljs ul li:nth-of-type(even) {
  background-color: #2a2f33;
  color: inherit;
}
/* .hljs ul {
	list-style: decimal;
	background-color: #fff;
	margin: 0px 0px 0 40px !important;
	padding: 0px;
}
.hljs ul li {
	list-style: decimal-leading-zero;
	border-left: 1px solid #ddd !important;
	background: #fff;
	padding: 5px!important;
	margin: 0 !important;
	line-height: 14px;
	word-break: break-all;
	word-wrap: break-word;
}
 */