:root{
    /***颜色类***/
    --main-color:#858ea1;
    --main-color-hover:#3c4859;
    --main-bg:#f1f3f4;

    --primary:#043169;
    --success:#67c23a;
    --warning:#e6a23c;
    --danger:#f56c6c;
    --accent: #5f19dd;
    --accent-light: #6b20f1;

    --button-bg:cyan;

    /***间距类***/


    /***大小类***/

}