$accentColor = #3eaf7c // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色

.theme-container .navbar {
  /* 特定页面的 CSS */
  //background: #e2e0e2;
    background-image: -moz-linear-gradient(top, #e8e6e8, #d3d1d3); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e6e8), color-stop(1, #d3d1d3)); /* Saf4+, Chrome */
    border-bottom: 1px solid #c3c1c3;
}
.navbar .site-name,.navbar a{
    //color: #fff;   
}
.navbar a:hover{
    //color: rgba(255,255,255,.8)
}