html{
	background: #e9ecee;
}
.paper{
	/* display: flex;
	justify-content: center; */
	padding: 16px;
	width: 90%;
	margin: 20px auto;
	max-width: 1000px;
	background: white;
	border-radius: 2px;
	box-shadow: 0 1px 5px #ddd;
}
button,input{
	border: none;
	padding: .5em;
	line-height: 1;
}
input[type='text']{
	border: 1px solid #ccc;
	padding: 5px;
}
button{
	padding: .4em 1em;
	border-radius: 3px;
	background: #ccc;
	cursor: pointer;
}
button:hover{
	background: #ddd;
}
.btn{
	background: #fc0;
	border-radius: 3px;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
}
.btn-green{
	background: rgb(21, 179, 34);
	border: 1px solid rgb(21, 179, 34);
}

table{
	border-spacing: 0;
	border-collapse: collapse;
}
table th,
table td{border: 1px solid #ccc;padding:3px 6px;}

hr{border: none;height: 1px;background: #ccc;}

input{
	border: 1px solid #ccc;
}