html{
	background: #e9ecee;
}
body{
  margin: 0;
  padding: 4px;
}
.paper{
	/* display: flex;
	justify-content: center; */
	padding: 16px;
	margin: 0 auto;
	max-width: 1000px;
	background: white;
	border-radius: 2px;
	box-shadow: 0 1px 5px #ddd;
  box-sizing: border-box;
  margin-top: 10px;
}
@media (max-width: 1000px){
  .paper{
    margin-top: 0px;
  }
}
h1{font-size: 1.6em;}
h2{font-size: 1.2em;}
h3{font-size: 1em;}
h4{font-size: 0.9em;}
button,input{
	border: none;
	padding: .5em;
	line-height: 1;
}
input[type='text']{
	border: 1px solid #ccc;
	padding: 5px;
}
button{
	padding: .4em 1em;
	border-radius: 2px;
	background: #ccc;
	cursor: pointer;
}
button:hover{
	background: #ddd;
}
.btn{
	background: #fc0;
	border-radius: 3px;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	line-height: 1;
}
.btn-green{
	background: rgb(21, 179, 34);
	border: 1px solid rgb(21, 179, 34);
}
.btn-blue{
	background: #007bff;
	border: 1px solid #007bff;
	color: #fff;
	padding: .6em 2em;
}
.btn-blue:hover{
	background: #1687ff;
	border: 1px solid #1687ff;
}
table{
	border-spacing: 0;
	border-collapse: collapse;
}
table th,
table td{border: 1px solid #ccc;padding:3px 6px;}

hr{border: none;height: 1px;background: #ccc;}

input{
	border: 1px solid #ccc;
}