/*androidstudio.css*/
body{margin: 0;padding: 5px;}

/*hljs-style*/
.hljs{color:#a9b7c6;background:#282b2e;display:block;overflow-x:auto;padding:0}
.hljs-number,.hljs-literal,.hljs-symbol,.hljs-bullet{color:#6897BB}
.hljs-keyword,.hljs-selector-tag,.hljs-deletion{color:#cc7832}
.hljs-variable,.hljs-template-variable,.hljs-link{color:#629755}
.hljs-comment,.hljs-quote{color:#808080}
.hljs-meta{color:#bbb529}
.hljs-string,.hljs-attribute,.hljs-addition{color:#6A8759}
.hljs-section,.hljs-title,.hljs-type{color:#ffc66d}
.hljs-name,.hljs-selector-id,.hljs-selector-class{color:#e8bf6a}
.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
/*androidstudio.css*/

pre{position: relative;margin: 0;padding: 0;background: #282b2e;
color: #fff;}
pre code{display: block;}
pre button{
  position: absolute;
  right: 10px;
  bottom: 12px;
}
.hljs ul {list-style: decimal;background: #414447;margin: 0;}
.hljs {
	border: 0;
	font-family: "Consulas", "Courier New", Courier, mono, serif;
	font-size: 13px;
	display: block;
  line-height:1.6;
	margin: 0;
	width: 100%;
  white-space: pre-wrap;
}
.hljs ul li {
	list-style: decimal-leading-zero;
  border-left: 1px solid #222 !important;
  background: #282b2e;
}
.hljs ul li:nth-of-type(even) {
  background-color: #2a2f33;
  color: inherit;
}
/* .hljs ul {
	list-style: decimal;
	background-color: #fff;
	margin: 0px 0px 0 40px !important;
	padding: 0px;
}
.hljs ul li {
	list-style: decimal-leading-zero;
	border-left: 1px solid #ddd !important;
	background: #fff;
	padding: 5px!important;
	margin: 0 !important;
	line-height: 14px;
	word-break: break-all;
	word-wrap: break-word;
}
 */
 button,input{
  border: none;
  padding: 5px;
	line-height: 1;
}
.btn{background: #fc0;border-radius: 3px;font-size: 15px;padding-left: 15px;padding-right: 15px;color: #fff; }
.btn-green{
	background: rgb(21, 179, 34);border: 1px solid rgb(21, 179, 34);
}

.file-layer{margin-bottom: 10px;position: relative;display: inline-block;}
.input-file{position: absolute;opacity: 0.01;background: #f00;width: 100%;height: 100%;padding: 0;}
.file-moke input{vertical-align: middle}
.file-moke input[type='text']{border: 1px solid #629755;}

.preview{line-height: 0;margin-bottom: 10px;}
.run{font-size: 18px;}
.testlayer{border:1px dashed #ccc;background: rgba(106,109,60,.2);padding: 15px;}
.testlayer li{border: 1px dashed #ccc;box-sizing: border-box;padding: 3px 5px;}
.add{cursor: pointer;display: inline-block;padding:0 5px;}
.flex{displa:flex;}
.flag{
	background: rgb(227, 225, 151);
	width: 200px;
    height: 200px;
	float:left;
	padding:20px;
    line-height: 30px;
    -webkit-border-bottom-left-radius: 20px 500px;
    -webkit-border-bottom-right-radius: 500px 30px;
    -webkit-border-top-right-radius: 5px 100px;
    -moz-border-bottom-left-radius: 20px 500px;
    -moz-border-bottom-right-radius: 500px 30px;
    -moz-border-top-right-radius: 5px 100px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
}
